header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ce433d;
	padding: 0 15px 0 15px;
	height: 100px;
	margin-bottom: 5px;
	figure {
		margin: 0;
		padding: 0;
	}
	img {
		max-width: 450px;
		margin-bottom: -10px;
	}
	h3 {
		text-align: center;
		font-size: 2rem;
		color: #ddd2b9;
		font-weight: 300;
		border-left: 2px solid black;
		padding: 5px 15px 5px 15px;
		margin: 0;
	}
}

.headerProps {
	display: flex;
	gap: 35px;
}
section {
	padding: 5px;
}

.sectionFlex {
	background-color: #ddd2b9;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

p {
	white-space: break-spaces;
}

.sectionTwo {
	border-left: 2px solid black;
}
